body {
    font-family: 'Times New Roman';
}
h1 {
    font-size: 20pt;
}
h2 {
    font-size: 18pt;
}
h3 {
    font-size: 16pt;
}
h4 {
    font-size: 14pt;
}
h5 {
    font-size: 12pt;
}
p {
    font-size: 11pt;
}
.wrapper {
    margin: 0 auto;
    max-width: 900px;
}
.airplane {
    width: 40%;
    float: left;
    padding: 0 25px 25px 0;
}
.mouse {
    width: 40%;
    padding: 25px;
}
